apiVersion: apps/v1
kind: Deployment
metadata:
  name: mosip-mock-services
spec:
  selector:
    matchLabels:
      app: mosip-mock-services
  replicas: 1
  template:
    metadata:
      labels:
        app: mosip-mock-services
    spec:
      #securityContext:
      #  runAsUser: 1001
      #  runAsGroup: 1001
      serviceAccountName: mosip-service
      volumes:
      - name: sec-ctx-vol
        persistentVolumeClaim:
          claimName: pv-claim
      
      initContainers:
      - name: permissions
        image: busybox

        volumeMounts:
        - name: sec-ctx-vol
          mountPath: /home/mosip/volume

        securityContext:
          runAsUser: 0

        command: ["/bin/sh","-c"]
        args: ["chown -R 1001:1001 /home/mosip/volume"]

      containers:
      - name: mosip-mock-services
        image: sushranthhebbar/mock-service:latest
        #workingDir: /home/mosip/

        securityContext:
          runAsUser: 1001
          runAsGroup: 1001
          
        volumeMounts:
        - name: sec-ctx-vol
          mountPath: /home/mosip/volume

        env:
        - name: spring_config_label_env
          value: "develop"

        - name: active_profile_env
          value: "local"

        - name: spring_config_url_env
          value: "localhost"
        
        - name: is_glowroot_env
          value: ""

        - name: work_dir
          value: "/home/mosip"

        - name: loader_path_env
          value: "$(work_dir)/volume/additional_jars"

        #command: ["/bin/sh", "-c", "sleep 300s"]
        command: ["/bin/sh", "-c", "java -jar -Dspring.cloud.config.label=${spring_config_label_env} -Dspring.profiles.active=${active_profile_env}  -Dspring.cloud.config.uri=${spring_config_url_env} mockabis-service.jar"]
        #command: ["java -jar -Dspring.cloud.config.label=develop -Dspring.profiles.active=local  -Dspring.cloud.config.uri=localhost mockabis-service.jar"]

        lifecycle:
         postStart:
           exec:
             command: ["/bin/sh", "-c", "echo Build Application "]
             command: ["/bin/sh", "-c", "mkdir -p ${loader_path_env}"]
             #command: ["/bin/sh", "-c", "mkdir -p additional_jars"]
             #command: ["/bin/sh", "-c", "pwd > ${loader_path_env}/test"]

        
        livenessProbe:
          exec:
            command: ["/bin/sh", "-c", "ps cax | grep java"]
          periodSeconds: 5
        
             
        ports:
        - containerPort: 8081
