.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 18px;
}

.example-full-width {
  width: 100%;
}

table {
  width: 100%;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.table {
  margin: 15px 20px;
}
